:root {
    --cell-size: 1.8rem;
}

/**
* gui box
*/
.gui-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gui-box {
    height: fit-content;
    width: fit-content;
    background-color: var(--primary-colour);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board {
    overflow: hidden;
    position: relative; 
    z-index: 0; 
}

/**
*   Board Cells
*/
br {
    display: none;
}
.board-container {
    display: flex;
    flex-direction: row; 
}

.cell {
    margin: 0px;
    height: var(--cell-size);
    width: var(--cell-size);
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 2;
    
    border-radius: 0%;
    background-color: var(--primary-colour);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 200ms;
    /* cursor: pointer; */
    
    color: black;
    font-size: 1.6rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    user-select: none;
    
    box-shadow: inset -.25rem -.25rem 0px var(--dark-colour);
}
.cell::after {
    content: '';
    position: absolute;
    height: var(--cell-size);
    width: var(--cell-size);
    box-shadow: inset .25rem .25rem 0px var(--light-colour);
    clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
}
.cell.clear-cell::after {
    all: unset;
    content: '';
    height: var(--cell-size);
    width: var(--cell-size);
    border: 1px solid var(--dark-colour);
    position: absolute;
}
/* .cell:not(.hotcold):hover {
    filter: brightness(110%);
} */
.cell:active {
    box-shadow:  0px 0px 0px;
    filter: brightness(80%);
}
.clear-cell {
    box-shadow:  0px 0px 0px;
    filter: brightness(90%);
    cursor: default;
}

.hotcold.clear-cell {
    position: relative;
    box-shadow: none;
    z-index: 0;
}
.hotcold.cell.clear-cell::after {
    content: '';
    all: unset;
}
.hotcold-tile {
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(.9rem) saturate(150%);
    overflow: hidden;
    mix-blend-mode: overlay;
    z-index: -100;
    pointer-events: none;
}